.brand--header {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: var(--max-container-width);
    margin: 0 auto;
    padding-top: 2rem;
    z-index: 1;
  }
  
  .header--nav .nav--link {
    display: block;
    margin: 0 2.5rem;
    font-weight: var(--font-weight__bold);
  }